<html>
<head>
<title>Gif2LovedOne</title>
<link rel="shortcut icon" type="image/jpg" href="{{ url_for('static',filename='heartfavicon.png') }}"/>

<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='style.css') }}">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Cabin&display=swap" rel="stylesheet">
<body>
     
    <div class="info">
    <img src="{{url_for('static', filename='sending.gif')}}" class="pics"/>
    <h1>Welcome to Gif2LovedOne</h1>
    <h3>Please Enter the Information below to send a Gif to Your Loved One</h3>
    <h4>Sent through Whatsapp!</h4>
    <form action="/send" method ="POST">
        <P>Phone # (add country code: US: +1)</P>
        <input type="text" name="number" placeholder="Enter Phone #">
        <P>Type of Gif (Ex. cute, funny, etc.):</P>
        <input type="text" name="gif_type" placeholder="Enter Gif">
        <input type="SUBMIT" name="" value="Send Message!">

    </form>
    <h3>Created by Suchir Madap</h3>
    <h3>Don't Go Hacking My Heart 2022</h3>

    </div>
    